.footer {
	background-color: rgb(16, 13, 37);
}

.footer__container {
	padding: 2rem 0 6rem;
}

.footer__title,
.footer__link {
	color: white;
}

.footer__title {
	text-align: center;
	margin-bottom: 2rem;
  font-size: 32px;
  font-weight: bold;
}

.footer__list {
	display: flex;
	justify-content: center;
	column-gap: 1.5rem;
	margin-bottom: 2rem;
}

.footer__social {
	display: flex;
	justify-content: center;
	column-gap: 1.25rem;
}

.footer__social-link {
	background-color: white;
	color: black;
	padding: 0.25rem;
	border-radius: 0.25rem;
	font-size: 1rem;
	display: inline-flex;
}

.footer__copy {
	display: block;
	margin-top: 4.5rem;
	color: var(--container-color);
	text-align: center;
	font-size: 0.75rem;
}